<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <span class="spacer"></span>
        <mat-nav-list>
                <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    <span>List Heroes</span>
                </a>
                <a routerLink="./add" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>add</mat-icon>
                    <span>Add Heroes</span>
                </a>
                <a routerLink="./search" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>search</mat-icon>
                    <span>Search Heroes</span>
                </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>{{authData.usuario}}</span>
        <button mat-button (click)="logOut()">
            <span>Logout</span>
        </button>
    </mat-toolbar>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>

